<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>owndata</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fromowndata.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <style type="text/css">
    A:link {
        text-decoration: none; /* Убирает подчеркивание для ссылок */
        color: white;
    }
    A:visited { text-decoration: none; color: white;}
    A:active { text-decoration: none; color: white;}
    A:hover {
        ext-decoration: none; /* Делает ссылку подчеркнутой при наведении на нее курсора */
        color: white; /* Цвет ссылки */
    }
  </style>
</head>
<body>
    <div class="row">
        <div class="col">
            <div class="well1" style="color: rgb(234,241,245)"><h1><a href="/">Fuzzyloop</a></h1></div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="well" style= "height: 620px; width: 1020px;">
          <div class="container">
            <canvas id="myChart"></canvas>
          </div>
          <script>
            let myChart = document.getElementById('myChart').getContext('2d');
            var label_name1 = "{{label_name|safe}}";
            var predict = {{predic|safe}};
            var data_all = {{values|safe}};
            var label_data = {{labels|safe}};
            for (i = 0; i < 2800; i++) {
              if (predict[i] === -1) {
                  predict[i] = null;
              }
            }
            for (i = 0; i < 2800; i++) {
              if (data_all[i] === -1) {
                  data_all[i] = null;
              }
            }
            // Global Options
            Chart.defaults.global.defaultFontFamily = 'Lato';
            Chart.defaults.global.defaultFontSize = 18;
            Chart.defaults.global.defaultFontColor = '#777';

            let massPopChart = new Chart(myChart, {
              type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
              data:{
                labels: label_data,
                datasets:[
                    {
                  label:'Predicted',
                  data: predict,
                  backgroundColor:'#05b300',
                  fill: false,
                  borderColor:'#05b300',
                  pointBackgroundColor: '#3bf030',
                  hoverBorderColor:'#05b300',
                  pointRadius: 0.5,
                  borderWidth: 2
                    },
                {
                  label:label_name1,
                  data: data_all,
                  backgroundColor:'blue',
                  pointBackgroundColor: '#33a3f0',
                  borderColor:'#0200f0',
                  fill: false,
                  pointRadius: 0,
                  borderWidth: 2
                }
                ]
              },
              options:{
                responsive: true,
                title:{
                  display:true,
                  text:'Result of ANFIS work',
                  fontSize:25,
                  fontColor: '#0099cc'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                          beginAtZero: false,
                          stepSize: 10 // this worked as expected
                        }
                      }],
                      xAxes: [{
                        ticks: {
                          maxTicksLimit: 10
                        }
                      }]
                },
                legend:{
                  display:true,
                  position:'right',
                  labels:{
                    fontColor:'#5275d2'
                  }
                },
                layout:{
                  padding:{
                    left:50,
                    right:0,
                    bottom:0,
                    top:0
                  }
                },
                tooltips:{
                  enabled:true,
                  mode: "index"
                }
              }
            });
          </script>
        </div>
    </div>
    <!--<div class="col-md-2">-->
        <!--<div class="row">-->
          <!--<div class="col"></br> </div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--"predict"-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col"></br> </div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--"real"-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>