<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fuzzyloop</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homecss.css') }}">
        <script src="{{url_for('static', filename='js/home.js.js')}}"></script>
        <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    </head>
    <body>
        <!--<div class="file-upload">-->
          <!--<div class="image-upload-wrap">-->
          <!--<div class="Datafromserv">-->
              <!--<form action="/predict_align/" method="post">-->
                <!--<input type="hidden" name="index">-->
                <!--<input type="submit" class="btn btn-primary btn-md" value="Use data from server">-->
              <!--</form>-->
          <!--</div>-->
              <!--<form action="/uploads/" method="post" enctype="multipart/form-data">-->
                  <!--<div class="Owndata">-->
                        <!--<input type="hidden" name="index" value="1">-->
                        <!--<input type="submit" class="btn btn-primary btn-md" value="Use upload data">-->
                  <!--</div>-->
              <!--</form>-->
              <!--<input class="file-upload-input" type="file" name="archive" accept="multipart/x-zip">-->
                <!--<div class="drag-text">-->
                    <!--<h3>-->
                        <!--load zip or drag it here-->
                    <!--</h3>-->
                <!--</div>-->
          <!--</div>-->
        <!--</div>-->
    <div class="row">
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            </br>
        </div>
        <div class="col-md-3">
            <div class="Datafromserv">
              <form action="/predict_align/" method="post">
                <input type="hidden" name="index">
                <input type="submit" class="btn btn-primary btn-md" value="Use data from server">
              </form>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <form action="uploads" method="POST" enctype="multipart/form-data">
                    <!--<div class="Owndata">-->
                        <!--<input type="submit" class="btn btn-primary btn-md" value="Use upload data">-->
                    <!--</div>-->
                    <div class="image-upload-wrap">
                        <input class="file-upload-input" type="file" onchange="this.form.submit()" name="file" accept=".csv">
                        <div class="drag-text">
                            <h1>
                                drag and drop your data here
                            </h1>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    </body>
</html>
