.field1 {
 position: absolute; /* Абсолютное позиционирование */
 top: 20px; /* Положение от верхнего края */
 right: 5px; /* Положение от правого края */
 width: 200px; /* Ширина блока */
}

.field2 {
 position: absolute; /* Абсолютное позиционирование */
 top: 20px; /* Положение от верхнего края */
 left: 700px; /* Положение от правого края */
 width: 250px; /* Ширина блока */
}
